body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
  
    
    
}
 
/*MOCKUP1------REGISTRO DE USUARIO/datos personales---------*/ 
.logo1u{
    float: left;
    margin-left: 10px;
    border: none;
    border-color: none;
    color: none;
    border-radius: none;
    
}
.logo1a{
    width: 150px;
    height: 150px;
    border-radius: 3px;
    border-color: rgb(63, 160, 240);
    border-style: solid;
    
}
.R_usuari{/*------estilo para el titulo "registro de usuario-------"*/
    text-align: center;
    background: rgb(63, 160, 240);
    font-weight: 100px;
    font-size: 35px;
    width: 800px;
    height: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    margin-top: 40px;
    border-radius: 3%;
    border: none;
    
}
.main1{
    margin-left: auto;
    margin-right: 170px;
    
}
.Form_datper{ /*estilo para centrar los campos de texto*/
    text-align: center;
 
 }
.DatPers1{/*------estilo para el contenedor "datos personales"*/
    width: 800px;
    height: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    
 
}
.Lege_txto{/*estilo para el titulo datos personales*/
    font-size: 40px;
    color: rgb(63, 160, 240);
}
.BotDatPer{/*estilo para los input*/
    text-align: center;
    font-size: 20px;
    width: 70%;
    height: 50px;  
    
}
.indi{/*estilo para el select(indicativos)*/
    font-size: 20px;
    height: 55px;
    width: 10%;
}
.BotDa_Num{/*estilo para el input number*/
    font-size: 20px;
    width: 60%;
    height: 50px;  
    text-align: center;
}
.btnCa{/* estilo para el boton cancelar*/
    font-size: 20px;
    width: 30%;
    height: 45px;
    background-color:#da0063;
    border: none;
    border-radius: 3px;
    cursor: pointer;
 
}
.btnCon{/*estilo para el boton continuar*/
    font-size: 20px;
    width: 30%;
    background-color:rgb(63, 160, 240);
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
 
}
.frase1{ /*estilo para la frase i love barber*/
    margin-left: 36cm;
    color:rgb(63, 160, 240);
    font-size: 25px;
 
}
 
 
 
/*MOCKUP2------REGISTRO DE USUARIO/datos personales---------*/ 
 
 
 
.logo2{
    float: left;
    margin-left: 10px;
    border: none;
    border-color: none;
    color: none;
    border-radius: none;
}
.logoi2{
    width: 150px;
    height: 150px;
    border-radius: 3px;
    border-color: rgb(63, 160, 240);
    border-style: solid;
}
.R_usuar2{/*------estilo para el titulo "registro de usuario-------"*/
    text-align: center;
    background: rgb(63, 160, 240);
    font-weight: 100px;
    font-size: 35px;
    width: 800px;
    height: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    margin-top: 40px;
    border-radius: 3%;
    border: none;
    
}
.main2{
    
    margin-left: auto;
    margin-right: 100px;
}
.Form_datusu{ /*estilo para centrar los campos de texto*/
    text-align: center;
}
.Dat_usu{/*------estilo para el contenedor "datos de usuario"*/
    width: 800px;
    height: 550px;
    margin-left: 520px;
    margin-right: auto;
    margin-top: 70px;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    flex-direction: row;
}
.Lege_txt2{
    font-size: 40px;
    color: rgb(63, 160, 240);
    text-align: center;
}
.Bot_emai{/*estilo para el input de e-mail*/
    width: 70%;
    height: 50px; 
    text-align: center;
    font-size: 20px;
}
.BotDatUsu{/*estilo para centrar los placeholder*/
    text-align: center;
    width: 70%;
    height: 50px; 
    font-size: 20px;
 
}
.btnC{/* estilo para el boton cancelar*/
    font-size: 20px;
    width: 30%;
    height: 45px;
    background-color:#da0063;
    border: none;
    border-radius: 3px;
    cursor: pointer;
 
}
.btnCo{/*estilo para el boton continuar*/
    font-size: 20px;
    width: 30%;
    background-color:rgb(63, 160, 240);
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
}
.frase2{ /*estilo para la frase i love barber*/
    margin-left: 36cm;
    color:rgb(63, 160, 240);
    font-size: 25px;
}
 
 
 
 
 
 
/*--------MOCKUP 3 PERFIL----------*/
 
 
 
 
 
 
.logo3{
    float: left;
    margin-left: 10px;
    border: none;
    border-color: none;
    color: none;
    border-radius: none;
}
.logoi3{
    width: 150px;
    height: 150px;
    border-radius: 3px;
    border-color: rgb(63, 160, 240);
    border-style: solid;
}
.R_usuar3{/*------estilo para el titulo "registro de usuario-------"*/
    text-align: center;
    background: rgb(63, 160, 240);
    font-weight: 100px;
    font-size: 35px;
    width: 800px;
    height: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    margin-top: 40px;
    border-radius: 3%;
    border: none;
}
.main3{
    margin-left: auto;
    margin-right: 170px;
    
}
.FPerf{/*estilo para el contenedor de perfil*/
    width: 800px;
    height: 620px;
    margin-left: 535px;
    margin-right: auto;
    margin-top: 70px;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    flex-direction: row;
    
}
.Lege_txt3{
    font-size: 40px;
    color: rgb(63, 160, 240);
    text-align: center;
}
 
.txtfotPe{/*estilo para centrar el texto de foto de perfil*/
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
}
.IcoUse{/*estilo para centrar el icono de user*/
    text-align: center;
    
}
.img_perf{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
}
.img_avat1{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
    margin-top: 140px;
    position: absolute;
    cursor: pointer;
    
}
.img_avat2{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
    margin-left: 290px;
    position: absolute;
    margin-top: 140px;
    cursor: pointer;
    
}
.img_avat3{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
    margin-right: 260px;
    position: absolute;
    margin-bottom: 200px;
    cursor: pointer;
    
}
.img_avat4{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
    margin-top: 140px;
    margin-left: 150px;
    position: absolute;
    cursor: pointer;
    
}
.img_avat5{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
    margin-left: 150px;
    margin-bottom: 150px;
    position: absolute;
    cursor: pointer;
    
}
.img_avat6{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
    margin-left: 290px;
    margin-bottom: 250px;
    cursor: pointer;
    
}
.ImgPer{/*estilo para la imagen de perfil*/
    float: left;
    margin-left: 10px;
    margin-bottom: 100px;
    text-align: left;
}
.txtFot{/*estilo para el texto subir una foto*/
    margin-left: 30px;
    font-size: 30px;   
}
.icon3{/*estilo para centrar el icono de subir de foto de perfil*/
    margin-left:85px; 
}
 
.fa-circle-arrow-up{/*estilo para el tamaño del icono de subir imagen*/
    font-size: 80px;
    cursor: pointer;
}
.fa-circle-arrow-up:hover{/*estilo el icono de subir imagen*/
    color: rgb(63, 160, 240);
}
.fa-circle-arrow-up:active{/*estilo el icono de subir imagen*/
    color: #b8c2ee;
}
 
.img3{/*estilo el icono de subir imagen*/
    display: none;
}
.Savatar{/*estilo para el contenedor de seleccoin de avatar*/
    width: 400px;
    height: 300px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 50px;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    position: relative;
}
 
 
 
 
/*------------------------------------------------------------------------------------------------------------*/
 
.imgns{
    width: 100px;
    height: 100px;
    border-radius:100px;
    cursor: pointer;
    margin-top: 20px;
    opacity: .7;
    margin-left: 20px;
    border-color:rgb(63, 160, 240); 
    border-style: solid;
}
.imgns:hover{
    opacity:1;
 
}
 
 
 
.Lege_txt3a{/*estilo para el txt de seleccionar avatra*/
    font-size: 30px;
    color: rgb(63, 160, 240);
    text-align: center;
}
.btn3{/*estilo para centrar los botones cancelar y continuar*/
    text-align: center;
}
 
.btnC3{/*estilo para el boton cancelar*/
    font-size: 20px;
    width: 30%;
    height: 45px;
    background-color:#da0063;
    border: none;
    border-radius: 3px;
    cursor:pointer;
}
.btnCo3{/*estilo para el boton ccontinuar*/
    font-size: 20px;
    width: 30%;
    background-color:rgb(63, 160, 240);
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
}
.frase3{ /*estilo para la frase i love barber*/
    margin-left: 36cm;
    color:rgb(63, 160, 240);
    font-size: 25px;
}
 
 
 
 
 
 
/*--------------------------------------------------*/
/* MOCKUP 4 CONFIRMACION */
/*--------------------------------------------------*/
 
 
 
 
 
 
 
.logo4{
    float: left;
    margin-left: 10px;
    border: none;
    border-color: none;
    color: none;
    border-radius: none;
}
.logo4a{
    width: 150px;
    height: 150px;
    border-radius: 3px;
    border-color: rgb(63, 160, 240);
    border-style: solid;
}
 
.R_usuar4{/*------estilo para el titulo "registro de usuario-------"*/
    text-align: center;
    background: rgb(63, 160, 240);
    font-weight: 100px;
    font-size: 35px;
    width: 800px;
    height: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    margin-top: 40px;
    border-radius: 3%;
    border: none;
    
}
 
.Cont_confr{/*estilo para el contenedor de confirmacion*/
    width: 800px;
    height: 550px;
    margin-left: 530px;
    margin-right: auto;
    margin-top: 70px;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    flex-direction: row;
}
.DP4{/*estilo para el tamaño de letra y color del titulo confirmacion*/
    text-align: center;
    font-size: 40px;
    color:rgb(63, 160, 240);
    
}
.IcoUse{/*estilo para centrar el icono de usuario*/
    text-align: center;
}
 
.TyC{
    text-align: center;
    font-size: 35px;
}
.btnCA{/*estilo para centrar los botones cancelar y continuar*/
    text-align: center;
}
.btnC4{/*estilo para el boton cancelar*/
    font-size: 20px;
    width: 30%;
    height: 45px;
    background-color:#da0063;
    border: none;
    border-radius: 3px; 
    cursor: pointer;  
}
.btnCo4{/*estilo para el boton ccontinuar*/
    font-size: 20px;
    width: 30%;
    background-color:rgb(63, 160, 240);
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
}
.TxtRegExi{/*estilo para el texto registro exitoso*/
    color: #c469359c;
    margin-left: 30px;
    text-align: left;
}
.btnIni{/*estilo para el boton  iniciar sesion*/
    margin-left: 106px;
    margin-bottom: auto;
    background-color: #c469359c;
    width: 190px;
    height: 50px;
    font-size: 20px;
    border-radius: 3%;
    border-style: hidden;
    cursor: pointer;
}
.frase4{ /*estilo para la frase i love barber*/
    margin-left: 36cm;
    color:rgb(63, 160, 240);
    font-size: 25px;
}
 
 
 
 
 
 
/* MOCKUP 5 PERFIL DE USUARIO */
 
 
 
 
 
.hom{
    height: 30px;
    width: 120px;
    border-radius: 3px;
    background-color: #414bb2;
    text-align:center;
    color: #f1f1f1;
    margin-top: 3px;
    cursor: pointer;
    float: left;   
}
.homE{
    color: #f1f1f1;
    text-align: center;
}
.hom1{
    height: 30px;
    width: 185px;
    float: left;
    margin-left: 1360px;
    background-color: rgb(236, 243, 243);
    border-radius: 3px;
    border: 1px solid #000000;
    text-align: center ;
}
.fa-face-smile{
   margin-left: 10px; 
   font-size: 38px;
}
.Boto_usuar5{/*------estilo para los botones "registro,ver,editar"*/ 
    width: 190px;
    height: 230px;
    background: #fff;
    margin-right: auto;
    margin-left: 130px;
    margin-top: 250px;
    border: 3px solid rgb(63, 160, 240); 
    border-radius: 3%; 
    float: left;
 
}
.Desplegable{/*estilo para dar posision y ubicacion al boton desplegable*/
    position: absolute;
    padding-left: 10px;
    border-radius: 4px;
 
}
.btnDesp{/*estilo para el boton despegable*/
    text-align: 50px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
       
}
.Desplegable:hover .links{/*estilo para dar ubicacion a los links del boton desplegable*/
    display: block;
   
 
}
 
.links a{/*estilo para los botones que se desplegan*/
    text-decoration: none;
    color: black;
    display: block;
    padding: 13px;
    border-radius: 6px;
 
}
.links{/*estilo para los botones que se desplegan*/
    background-color:#ffff;
    display: none;
 
}
.links a:hover{/*estilo para los botones que se desplegan*/
    background-color: #b8c2ee;
 
}
.DatPers5{/*------estilo para el formulario Perfil de usuario-------*/
    width: 800px;
    height: 550px;
    margin-left: 160px;
    margin-right: auto;
    margin-top: 3cm;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    float: left;
    
}
.DP5{/*estilo para el tamaño de letra y color del titulo perfil de usuario*/
    font-size: 40px;
    color: rgb(63, 160, 240);
    text-align: center;
    
}
.IcoUse5{/*estilo para centrarel icono de user*/
    text-align: center;
   
}
.fa-circle-user{ /*estilo para el tamaño del icono*/
   font-size: 85px;
}
.F_perf_usu{/*estilo para centrar los campos de texto*/
    text-align: center;
}
.BtnDatsP5{/*estilo para el boton datos personales*/
    background-color: #414bb2;
    font-size: 20px;
    width: 30%;
    height: 45px;
    border: none;
    border-radius: 3px; 
    cursor: pointer;
    margin-right: 50px;
}
.BtnD_usu5{/*estilo para el boton datos de usuario*/
    font-size: 20px;
    width: 30%;
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
}
.txt_per_usu5{/*estilo para centrar los placeholder*/
    text-align: center;
    width: 70%;
    height: 50px; 
    font-size: 20px;
    
}
.frase5{ /*estilo para la frase i love barber*/
    margin-top: 17cm;
    color:rgb(63, 160, 240);
    margin-left: 36cm;
 
}
 
 
 
/*MOCKUP 6 EDITAR PERFIL*/
 
.hom{
    height: 30px;
    width: 120px;
    border-radius: 3px;
    background-color: #414bb2;
    text-align:center;
    color: #f1f1f1;
    margin-top: 3px;
    cursor: pointer;
    float: left;   
}
.homE{
    color: #f1f1f1;
    text-align: center;
}
.hom1{
    height: 30px;
    width: 185px;
    float: left;
    margin-left: 1360px;
    background-color: rgb(236, 243, 243);
    border-radius: 3px;
    border: 1px solid #000000;
    text-align: center ;
}
 
.Boto_usuar6{/*------estilo para los botones "registro,ver,editar"*/
    width: 190px;
    height: 230px;
    background: #fff;
    margin-right: auto;
    margin-left: 130px;
    margin-top: 275px;
    border: 3px solid rgb(63, 160, 240); 
    border-radius: 3%; 
    float: left;
 
}
.Desplegable6{/*estilo para dar posision y ubicacion al boton desplegable*/
    position: absolute;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 23px;
 
}
.btnDesp6{/*estilo para el boton despegable*/
    text-align: 50px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
       
}
 
.Desplegable6:hover .links{/*estilo para dar ubicacion a los links del boton desplegable*/
    display: block;
 
}
 
.links a{/*estilo para los botones que se desplegan*/
    text-decoration: none;
    color: black;
    display: block;
    padding: 13px;
    border-radius: 6px;
 
}
.links{/*estilo para los botones que se desplegan*/
    background-color:#ffff;
    display: none;
 
}
.links a:hover{/*estilo para los botones que se desplegan*/
    background-color: #b8c2ee;
 
}
.DatPers6{/*------estilo para el formulario Perfil de usuario-------*/
    width: 800px;
    height: 550px;
    margin-left: 160px;
    margin-right: auto;
    margin-top: 137px;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    float: left;
    
}
 
.DP6{/*estilo para el tamaño de letra y color del titulo confirmacion*/
    font-size: 40px;
    color: rgb(63, 160, 240);
    text-align: center;
    
}
.IcoUse6{/*estilo para centrar el icono de user*/
    text-align: center;
}
.F_edi_per{/*estilo para centrar los campos de texto*/
    text-align: center;
}
 
.BtnDatsP6{/*estilo para el boton datos personales*/
    background-color: #414bb2;
    font-size: 20px;
    width: 30%;
    height: 45px;
    border: none;
    border-radius: 3px; 
    cursor: pointer;
    margin-right: 50px;
}
.BtnD_usu6{/*estilo para el boton datos de usuario*/
    font-size: 20px;
    width: 30%;
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
}
.txt_edi_usu6{/*estilo para centrar los placeholder*/
    text-align: center;
    width: 70%;
    height: 50px; 
    font-size: 20px;
    
}
.btnGuar{/*estilo para el boton guardar cambios*/
    background-color: #8fd14f;
    font-size: 20px;
    width: 170px;
    height: 42px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}
.frase{ /*estilo para la frase i love barber*/
    margin-top: 18cm;
    color:rgb(63, 160, 240);
    margin-left: 36cm;
    
 
}
 
 
/* MOCKUP 7 ELIMINAR */
 
 
 
.hom2{
    height: 30px;
    width: 120px;
    border-radius: 3px;
    background-color: #414bb2;
    text-align:center;
    color: #f1f1f1;
    margin-top: 3px;
    cursor: pointer;
    float: left;   
}
.home2{
    color: #f1f1f1;
    text-align: center;
}
.hom1a{
    height: 30px;
    width: 185px;
    float: left;
    margin-left: 1400px;
    background-color: rgb(236, 243, 243);
    border-radius: 3px;
    border: 1px solid #000000;
    text-align: center ;
}
 
 
.Boto_usuar7{/*------estilo para los botones "registro,ver,editar"*/
    width: 190px;
    height: 230px;
    background: #fff;
    margin-right: auto;
    margin-left: 130px;
    margin-top: 275px;
    border: 3px solid rgb(63, 160, 240); 
    border-radius: 3%; 
    float: left;
 
}
.Desplegable7{/*estilo para dar posision y ubicacion al boton desplegable*/
    position: absolute;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 23px;
 
}
.btnDesp7{/*estilo para el boton despegable*/
    text-align: 50px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
       
}
 
.Desplegable7:hover .links{/*estilo para dar ubicacion a los links del boton desplegable*/
    display: block;
 
}
 
.Desplegable7{/*estilo para dar posision y ubicacion al boton desplegable*/
    position: absolute;
    padding-left: 10px;
 
}
.links a{/*estilo para los botones que se desplegan*/
    text-decoration: none;
    color: black;
    display: block;
    padding: 13px;
 
}
.links{/*estilo para los botones que se desplegan*/
    background-color:#ffff;
    display: none;
 
}
.links a:hover{/*estilo para los botones que se desplegan*/
    background-color: #b8c2ee;
 
}
.cont_elim{/*estilo para el contenedor de eliminacion*/
    width: 800px;
    height: 550px;
    margin-left: 160px;
    margin-right: auto;
    margin-top: 137px;
    background-color: azure;
    border: 3px solid rgb(63, 160, 240);
    border-radius: 3%;
    float: left;
 
}
.DP7{/*estilo para el tamaño de letra y color del titulo confirmacion*/
    font-size: 40px;
    color: rgb(63, 160, 240);
    text-align: center;
    
}
.IcoUse7{/*estilo para centrar el icono de user*/
    text-align: center;
}
.name-{
    text-align: center;
    width: 300px;
    height: 40px;
    background-color: #943636;
    margin-right: auto;
    margin-left: auto;
    border-radius:3px;
}
.cont_Elimi_usu{
    text-align: center;
}
.BtnDatsP1{/*estilo para el boton elimiar user*/
    background-color: #414bb2;
    font-size: 20px;
    width: 30%;
    height: 45px;
    border: none;
    border-radius: 3px; 
    cursor: pointer;
    margin-right: 50px;
}
.BtnDatsP{/*estilo para el boton inhabilitar user*/
    font-size: 20px;
    width: 30%;
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
}
 
.btnCanc{
    background-color: #da0063;
    font-size: 20px;
    width: 30%;
    border: none;
    border-radius: 3px;
    height: 45px;
    cursor: pointer;
}
.frase{ /*estilo para la frase i love barber*/
    margin-left: 80%;
    color:rgb(63, 160, 240);
 
}
